@model List<CommunityToolShedMVC.Models.Tool>

@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<table class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Tool Name</th>
            <th>Community</th>
            <th>Purpose</th>
            <th>Age</th>
            <th>Is Borrowed?</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tool in Model) {
        <tr>
            <td>@tool.ToolName</td>
            <td>@ViewBag.CommunityName</td>
            <td>@tool.Purpose</td>
            <td>@tool.Age</td>
            <td>@tool.IsOut</td>
            <td>
                @if (!tool.IsOut)
                {
                @Html.ActionLink("Borrow Tool", "Borrow", new { id = tool.ToolId })
                }
            </td>
            <td>
                @if(ViewBag.isReviewer && !tool.IsOut){
                    using (Html.BeginForm("Delete", "Tools", new { id = tool.ToolId }))
                    {
                        <button class="btn btn-danger" type="submit">Delete Tool</button>
                    }
                }</td>
        </tr>
        }
    </tbody>
</table>

<div class="btn btn-warning">
    @Html.ActionLink("Create", "Create")
</div>